<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top custom-navbar">
  <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
              <a class="nav-link" href="/">Home</a>
              <a class="nav-link active" href="/listings">All Listings</a>
              <a class="nav-link" href="/listings/new">Add New Listing</a>
          </div>
          <div class="navbar-nav ms-auto">
              <% if(!currUser){ %>
                  <a class="nav-link" href="/SignUp">SignUp</a>
                  <a class="nav-link active" href="/Login">Login</a>
              <% } else { %>
                  <a class="nav-link" href="/logout">Logout</a>
              <% } %>
          </div>
      </div>
  </div>
</nav>

<style>
/* Default navbar background */
.custom-navbar {
  background-color: #f8f9fa; /* Change this to your desired background color */
}

/* Change navbar background color when the hamburger menu is clicked */
@media (max-width: 767.98px) {
  .navbar-collapse:not(.show) {
      background-color: #f8f9fa; /* Default background when collapsed */
  }

  .navbar-collapse.show {
      background-color: #ffffff; /* Change this to the desired color when expanded */
  }

  .navbar-nav .nav-link {
      text-align: center;
      padding: 10px;
  }

  .navbar-toggler {
      margin-left: auto;
  }
}

/* Media Queries for Tablets */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-nav .nav-link {
      text-align: center;
      padding: 10px;
  }
}
</style>
