/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') ;
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px 0;
    height:300px;
    border-radius:2%;
    
}

.explore-now-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.container {
    padding: 20px;
}

.location {
    margin-top: 20px;
}

.listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.listing img {
    width: 150px; /* Set a small fixed width for images */
    height: auto;
    margin-right: 10px;
}

.listing div {
    flex: 1;
    padding: 10px;
}

.listing h4 {
    margin: 10px 0 5px;
}

.price {
    color: #28a745;
    font-weight: bold;
}

.reviews {
    margin-top: 40px;
}

.review {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Responsive styles */
@media only screen and (max-width: 428px) {
    header {
        padding: 10px 0;
        height: 200px;
    }

    .explore-now-button {
        display: block;
        margin: 10px auto;
        width: 80%;
        text-align: center;
    }

    .container {
        padding: 10px;
    }

    .listing {
        flex-direction: column;
        align-items: flex-start;
    }

    .listing img {
        width: 100%; /* Adjust image to full width in mobile view */
        max-width: 150px; /* Keep the images small */
        margin: 0 auto 10px;
        height:150px;
    }

    .listing div {
        padding: 10px;
        text-align: center; /* Center text for better readability on small screens */
    }

    .reviews {
        padding: 0 10px;
    }

    .review {
        font-size: 14px;
    }
}
